<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="./CSS/admin_dashboard.css" />
  <link rel="stylesheet" href="./CSS/admin_dashboard_home.css" />
  <title>Admin Dashboard - New Product</title>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar --><!-- /#sidebar-wrapper --> 
    <%- include('admin_dashboard_side_wrapper.ejs'); %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <!-- /#top-wrapper -->
        <%- include('admin_dashboard_top_wrapper.ejs'); %>

          <div class="container-fluid">
            <div class="row g-3 my-2">
              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2"><%=Numoftrainers%></h3>
                    <p class="fs-5">Trainers</p>
                  </div>
                  <i class="fas fa-user-friends fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2"><%=Numofusers%></h3>
                    <p class="fs-5">Clients</p>
                  </div>
                  <i class="fas fa-user-friends fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2"><%=Numoforders%></h3>
                    <p class="fs-5">Orders</p>
                  </div>
                  <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2">Rs 14920</h3>
                    <p class="fs-5">Total Revenu</p>
                  </div>
                  <i class="fas fa-money-bill-wave fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

            </div>

            <div class="recent-payment-conrainer">
              <div class="recent-5-Payments my-5">
                <h3>Recent Payment</h3>
                <div class="col">
                  <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% payments.forEach((item)=>{ %>
                        <tr id="row1">
                          <td scope="row" id="payment-date1"><%=item.Dateoforder.toDateString()%></th>
                          <td id="payment-transactionID1"><%=item._id%></td>
                          <td id="payment-Method1"><%=item.paymentmethod%></td>
                          <td id="payment-desc1"><%=item.description%></td>
                          <td id="payment-amount1">Rs <%=item.amount%></td>
                          <td id="payment-status1"><%=item.status%></td>
                        </tr>
                      <%}) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="recent-order-conrainer">
              <div class="recent-5-orders my-5">
                <h3>Recent order</h3>
                <div class="col">
                  <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                      <tr>
                        <th scope="col" width="50">Sr.</th>
                        <th scope="col">Name</th>
                        <th scope="col">DateOfOrder</th>
                        <th scope="col">Amount</th> 
                        <th scope="col">Status</th>
                        <th scope="col">Address</th>
                        <th scope="col"></th>
                      </tr>
                      </td>
                    <tbody>
                      <%let count=1 %>
                       <% orders.forEach((order)=>{ %>
                          <tr>
                              <th scope="row"><%=count%></th>
                              <% count=count+1%>
                              <td><%=order.name%></td>
                              <td><%=order.Dateoforder.toDateString()%></td>
                              <td><%=order.amount%></td>
                              <td><%=order.status%></td>
                              <td><%=order.address%></td>
                            </tr>
                      <% })%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>


      </div>

  </div>
  <!-- /#page-content-wrapper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
      el.classList.toggle("toggled");
    };
  </script>
</body>

</html>