<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>User Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" />
  <link rel="stylesheet" href="./CSS/cart.css" />
  <link rel="stylesheet" href="./CSS/payment1.css" />
  <link rel="stylesheet" href="./CSS/user_Dashboard.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="dashboard">
    <%- include('user_dashboard_navbar.ejs'); %>

    <div class="dashboard-app">
      <header class="dashboard-toolbar">
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        <a href="/userlogout" class="menu-toggle">
          <i class="fas fa-right-from-bracket"></i>
          Logout
        </a> 
      </header>
     
        <!-- User Profile  -->
        <div class="dashboard-content" id="dashboard-review-page">
          <div class="parent-container">
            <div class="cart-container">
              <table>
                <tr>
                  <th>Product</th>
                  <th>Category</th>
                  <th>Subtotal</th>
                </tr>
                <%let amount=0%>
                <%for (var i = 0; i < products.length; i++) { %>
                  <tr>
                    <td>
                      <div class="cart-info">
                        <div>
                          <img src="data:image/<%=products[i][0].img.contentType%>;base64, <%=products[i][0].img.data.toString('base64')%>" alt="">
                          <h4><%=products[i][0].name%></h4>
                          
                          <%amount=amount+products[i][0].price%>
                          <h5>price :Rs<span class="cart-product-price"><%=products[i][0].price%></span></h5><br />
                        </div>
                      </div>
                    </td>
                    <td><%=products[i][0].category%></td>
                    <td>Rs<%=products[i][0].price%></td>
                  </tr>
                <%}%>               
              </table>
            </div>

            <div class="total-price">
              <h3></h3>
              <table>
                <tr>
                  <th colspan="2">Price Details</th>
                </tr>
                <tr>
                  <td>Sub total</td>
                  <td>Rs<%=amount%>.00</td>
                </tr>
                <tr>
                  <td>Discount 5%</td>
                  <td>- Rs<%=Math.floor((amount*5)/100)%>.00</td>
                </tr>
                <tr>
                  <td>Delivery charges</td>
                  <td>+ Rs80.00</td>
                </tr>
                <tr>
                  <td>Total Amount</td>
                  <td>= Rs<%=amount -Math.floor((amount*5)/100) +80 %></td>
                  <br /><br />
                </tr>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" id="checkbut" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalCenter">Check Out</button>
                </td>
              </table>
            </div>
          </div>
          <a id="back" href="./products">
            <h4>Continue Shopping</h4>
          </a>
        </div>
      </div>
  </div>




  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <section id="payment">
            <div class="container">
              <div class="column-two">
                <table class="details">
                  <tr class="last">
                    <th colspan="2">Review Your Details:</th>
                  </tr>
                  <tr>
                    <td>Name:</td>
                    <td>XYZ</td>
                  </tr>
                  <tr>
                    <td>Amount:</td>
                    <td><i class="fi-xnsuxm-rupee"></i> 24,000</td>
                  </tr>
                  <tr>
                    <td>GST(18%):</td>
                    <td><i class="fi-xnsuxm-rupee"></i> 5,400</td>
                  </tr>

                  <tr class="last">
                    <td>Total Amount:</td>
                    <td><i class="fi-xnsuxm-rupee"></i> 30,000</td>
                  </tr>
                </table>

                <table class="payment-method">
                  <tr class="last">
                    <th>Select Your Payment Method:</th>
                  </tr>

                  <tr>
                    <td>
                      <input type="radio" name="payment-method" id="payment-method">
                      <label for="payment-method">Net Banking/Credit/Debit Card</label>
                    </td>
                  </tr>

                  <tr>
                    <td>NOTE: After clicking the "Sure, Get me Started" button below, you will be redirected to the
                      secure
                      page of our online payment service partner.</td>
                  </tr>
                </table>

                <div class="buttons">
                  <form method="post" action="/useractions/checkoutcart">
                    <button class="" type="submit">Sure, Get me Started</button>
                  </form>
                </div>
              </div>

            </div>
          </section>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- partial -->

  <script>
    let checkout = document.getElementById('checkbut');
    let modalbutton = document.getElementById('modalbutton');
    checkout.addEventListener('click', () => {
      modalbutton.click();
    })
  </script>
  <script src="https://kit.fontawesome.com/1b34bcf330.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="./JS/user_Dashboard.js"></script>
</body>

</html>