<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>User Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" /> -->
  <link rel="stylesheet" href="./CSS/user_Dashboard.css" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>



<body>
  <!-- partial:index.partial.html -->
  <div class="dashboard">
    <%- include('user_dashboard_navbar.ejs'); %>

      <div class="dashboard-app">
        <header class="dashboard-toolbar">
          <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
          <a href="/userlogout" class="menu-toggle">
            <i class="fas fa-right-from-bracket"></i>
            Logout
          </a>
        </header>

        <!-- User's Payment  -->
        <div class="dashboard-content" id="dashboard-review-page">
          <div class="container">



            <!-- EDIT HERE FOR PROFILE USER -->



            <div class="container-review">
              <h1>Profile Page</h1>

              <div class="container rounded bg-white mt-5">
                <div class="d-flex flex-column justify-content-center align-items-center p-3 py-5">
                  <img class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg">
                </div>
              </div>

              <div class="col-md-8">
                <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                    </div>
                    <h6 class="text-right">Edit Profile</h6>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="First Name" value="John">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Last Name" value="Doe">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Email" value="john_doe12@bbb.com">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Phone Number" value="+19685969668">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Address"
                        value="D-113, Right Avenue Block, CA, USA">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Country" value="USA">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Bank Name" value="Bank of America">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Account Number" value="043958409584095">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Height" value="6'2''">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Weight" value="180 lbs">
                    </div>
                  </div>
                  <div class="mt-5 text-right">
                    <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                  </div>
                </div>
              </div>
      <div class="dashboard-content" id="dashboard-review-page">
        <div class="container">
           <div class="container-review">
            <h1>Profile Page</h1>   
       
            <div class="user-container" style="text-align: center; width: 400px; margin: auto; border: 1px dashed #ccc; padding: 20px;">
              <img src=<%=userDetails.image%> alt="User photo" style="display: block; margin: 0 auto; width: 250px; height: 250px; border: 1px solid #ccc; border-radius: 50%;">
              <h2 style="text-decoration: underline; margin-bottom: 10px;"><strong>Username:<%=userDetails.name%></strong> <span id="user-profile-name"></span></h2>
              <p><strong>Height:<%=userDetails.height%></strong> <span style="text-decoration: underline;"> <span id="user-height"></span></span></p>
              <p><strong>Weight:<%=userDetails.weight%>kg</strong> <span style="text-decoration: underline;"> <span id="user-weight"></span></span></p>
              <p><strong>Email:<%=userDetails.email%></strong> <span style="text-decoration: underline;"></span></p>
            </div>







          </div>
        </div>
      </div>
  </div>
    </div>


  </div> 
  <!-- partial -->
  <script src="https://kit.fontawesome.com/1b34bcf330.js" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <script src="./JS/user_Dashboard.js"></script>
</body>

</html>